<nav *ngIf="showNavbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand" [routerLink]="'.'">
			SAP-BIR Integration</a>

		<form class="d-flex">
			<ng-template [ngIf]="this.dbName == this.extDESIHO">
				<span class="navbar-text">
					EXTERNAL DU EK SAM INC. BIR
				</span>
			</ng-template>
			<ng-template [ngIf]="this.dbName == this.extDESMHO">
				<span class="navbar-text">
					EXTERNAL DES MARKETING, INC. BIR
				</span>
			</ng-template>
			<button type="button" class="btn btn-link" (click)="logout()">Log Out</button>
		</form>

	</div>
</nav>